* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

/*Responisve Design - Móvil*/
@media (max-width: 700px) {
}

/* Nav */
nav {
  display: flex;
  align-items: center;
}

.nav {
  min-width: 1446;
  height: 80px;
  display: flex;
  justify-content: space-between;
  padding: 17px 75px 17px 75px;
}

.nav .logo img {
  cursor: pointer;
  height: 46px;
  transition: all 0.3s;
}

.nav .logo img:hover {
  transform: scale(1.1);
}

.nav .nav-links {
  list-style: none;
}

.nav .nav-links li {
  display: inline-block;
  padding: 0 25px;
  transition: all 0.03s;
}

.nav .nav-links li:hover {
  transform: scale(1.05);
}

.nav .nav-links a {
  font-weight: bold;
  color: black;
  text-decoration: none;
}

.nav .nav-links a:hover {
  color: #f79e1b;
}

/* Header */
#text-header {
  font-size: 115px;
  width: 560px;
  height: 400px;
}

#img-taller {
  width: 600px;
  height: 400px;
}

.header {
  height: 500px;
  display: flex;
  justify-content: space-between;
  padding: 50px 75px 50px 75px;
}

.container-home {
  height: 500px;
  display: flex;
  justify-content: space-between;
  padding: 137.5px 75px 137.5px 75px;
}

/* Main */
.home {
  width: 595px;
  height: 225px;
}

.home .texthome {
  font-size: 50px;
}

.texthome {
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
}

.container-home p {
  font-size: 25px;
}

/*Ubicación*/
#ubication {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Footer*/
#logofooter {
  width: 200px;
  height: 100px;
}
